

#one{
    
    border-color: black;
    border-style: solid;
    border-radius: 25px;
    text-align: center;
   
 
    
}
#two{
    border-style: unset;
    border-color: black;
    border-style: groove;
    text-align: center;
    border-radius: 25px;
   
}
#three{
    border-style: unset;
    border-color: black;
    border-style: groove;
    text-align: center;
    border-radius: 25px;
}
#four{
    border-style: unset;
    border-color: black;
    border-style: groove;
    text-align: center;
    border-radius: 25px;
}
#one:hover
    {
        background-color:black;
        color: white;
    }
body{
    background-image: url("https://unsplash.com/photos/zyj_u-jcihc");
    background-repeat: no-repeat;
    background-size: cover;
  
}
#two:hover
    {
        background-color:black;
        color: white;
    }
   
    #four:hover
    {
        background-color:black;
        color: white;
    }
    #three:hover
    {
        background-color:black;
        color: white;
    }
    .master{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    
       
        
        h3{
            float: right;
            margin-right: 180px;

        } 
    li{
        float: left;
        list-style-type: none;
        
        margin-top: 0px;
    }
  
 a:link{
    color:white;
    display:block;
    width:200px;
 
    margin-top:0px;
    
    }
      
    .nav ul li a{
        background-color: white; 
        height: 50px;
        color:yellowgreen;
        

        
        
    }
ul{
    margin:0;
    padding: 50px;
   
}
.menu{
    padding-top: 100px;
   float: left;
}

ul li{
    padding-top: 0px;
    
}
.search{
    padding-right:150px;
    padding-top: 0px;
}
.social ul li a{
  background-color:black;
  
  color: beige;
  height: 100px;
  width:200px;
  
}
.social  ul li a span{
    font-size:30px;}

    .nav ul li a:hover{
        
      background-color: black;
        
    }
    input[type="text"]
    {
        border:4px solid black;
        border-radius: 30px;
        width:250px;
        float: right;
        margin-right: 130px;
        height: 50px;
        text-align: center;
    }
    .social{
        background-size: cover;
        }
